.sabores {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center;
    background-color: #ccc;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}

.sabores label {
    padding: 5px; 
    color: #fff;
    cursor: pointer;
}

.sabores label input {
    display: none;
}

.sabores label span {
    display: inline-block;
    padding: 7px; 
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
}

.sabores label input[type="checkbox"]:checked ~ span {
    background-color: #333350;
    color: #fff;
}